<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Irrigazione di precisione</title>

    <!-- Bootstrap CSS (locale) -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <script type="text/javascript">
        window.config = {
            serverIp: "{{ server_ip }}",
            moistureScaleMin: "{{ moisture_scale_min }}",
            moistureScaleMax: "{{ moisture_scale_max }}",
            timestamp: "{{ timestamp }}",
            uploadStatus: "{{ upload_status }}"
        };
    </script>

    <!-- Bootstrap JS (locale) -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- jQuery (locale) -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <!-- Chart.js (locale) -->
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>

    <!-- Chart.js Plugins (locale) -->
    <script src="{{ url_for('static', filename='chartjs-chart-matrix.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chartjs-plugin-datalabels.min.js') }}"></script>

    <!-- Altri plugin come Luxon, Font Awesome ecc. -->
    <script src="{{ url_for('static', filename='luxon.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chartjs-adapter-luxon.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chartjs-plugin-streaming.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome.min.js') }}"></script>

    <!-- I tuoi script personalizzati -->
    <script src="{{ url_for('static', filename='optimals.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='realtime-line-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='matrix-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='realtime-irrigation-line-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='irrigation-controls.js') }}"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
        }

        .blinking-element-off {
            animation: blinkAnimation 4s ease-in-out infinite;
            color: red;
        }

        .blinking-element-on {
            animation: blinkAnimation 4s ease-in-out infinite;
            color: green;
        }

        @keyframes blinkAnimation {

            0%,
            50%,
            100% {
                opacity: 1;
            }

            25%,
            75% {
                opacity: 0;
            }
        }
    </style>
</head>

<body>

    <div class="modal fade" id="syncingModal" tabindex="-1" aria-labelledby="syncingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="syncingModalLabel">Sincronizando i dati con l'Arduino</h5>
                </div>
                <div class="modal-body">
                    Sincronizzando i dati, attendere prego...
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="optimalSelectionModal" tabindex="-1" aria-labelledby="optimalSelectionModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optimalSelectionModalLabel">Scegli regola</h5>
                </div>
                <div class="modal-body" id="optimalsContainer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="moistureRangeSelectionModal" tabindex="-1" aria-labelledby="moistureRangeSelectionModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="moistureRangeSelectionModalLabel">Preferenze</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="moistureRangeContainer">
                    <div class="row">
                        <span class="fs-4 text pb-1">Scegli l'intervallo di umidità</span>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="minMoisture" class="form-label">Minimo</label>
                        </div>
                        <div class="col-3">
                            <input min="{{ moisture_scale_min }}" max="{{ moisture_scale_max }}" type="number" id="minMoisture" class="form-control" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="maxMoisture" class="form-label">Massimo</label>
                        </div>
                        <div class="col-3">
                            <input min="0" max="100" type="number" id="maxMoisture" class="form-control" />
                        </div>
                    </div>
                    <div class="row pt-2 pb-1">
                        <div class="row">
                            <span class="fs-4 text">Salvataggio dati</span>
                        </div>
                        <div class="row form-check form-switch" style="padding-left: calc(var(--bs-gutter-x) * .5);">
                            <div class="col-4">
                                <input class="form-check-input" type="checkbox" role="switch" id="persistency" checked style="float: right;">
                                <label for="persistency" class="form-label" >Persistenza</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        id="moistureRangeSelectionModalConfirm">Conferma</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center py-2 w-100 m-0 mw-100">

        <div class="row w-100 m-0 p-0" style="height: 10%">
            <h1 class="text-center fw-bold mt-4">Irrigazione di precisione</h1>
            <span style="position: absolute;right: 20px;width: 24px;top: 10px;"><i class="fa-solid fa-gear fa-xl"
                    id="settingsButton" style="color: grey; cursor: pointer;"></i></span>
        </div>

        <div class="row w-100 m-0 p-0" style="height: 10%">
            <div class="col-8 content-center">
                <h2 class="text-center fw-bold">Sensori in tempo reale</h2>
            </div>
            <div class="col-4 content-center">
                <h2 class="text-center fw-bold">Matrice di umidità</h2>
            </div>
        </div>

        <div class="row w-100 m-0 p-0" style="height: 30%">
            <div class="col-8">
                <canvas id="lineChart" height="400" style="max-height: 410px; display: initial;"></canvas>
            </div>
            <div class="col-4 content-center">
                <canvas id="matrixChart" height="400" width="400"
                    style="max-height: 400px; max-width: 410px; display: initial;"></canvas>

            </div>
        </div>
        <div class="row w-100 mt-2 py-2" style="height: 30%">
            <div class="col-8 content-center">
                <h2 class="text-center fw-bold">Gestione irrigazione (<span id="pumpMode">Manuale</span>) <i class="fa-solid fa-circle blinking-element ps-4" id="blinkingCircle"></i> </h2>
                <canvas id="irrigationLineChart" height="400" style="max-height: 410px; display: initial;"></canvas>

                <div class="d-flex flex-line justify-content-around align-items-center mt-4">
                    <p class="mx-4 h4 p-2">Umidità ottimale: <span id="optimalMoisture" class="h3 fw-bold px-2">0%</span></p>
                    <p class="mx-4 h4 p-2">Umidità attuale: <span id="observedMoisture" class="h3 fw-bold px-2">0%</span></p>
                    <p class="mx-4 h4 p-2">Errore sul periodo: <span id="rmse" class="h3 fw-bold px-2">50</span></p>
                    <button class="btn btn-primary h4 mx-4 px-2" id="togglePump"><span id="pumpText" class="h2 p-3 fw-bold">Attiva pompa</span></button>
                </div>
            </div>

            <div class="col-4 d-flex flex-column justify-content-between">
                <h2 class="text-center fw-bold">Regola di irrigazione</h2>
                <div class="content-center flex-grow-1 d-flex align-items-center justify-content-center" id="irrigationControlContainer">
                <p class="text-center fw-bold">Disponibile solo in modalità automatica</p>
                </div>
                <div class="justify-content-center">
                <button class="btn btn-primary col-4 m-3" id="toggleMode"><span class="h5 px-2">Cambia modalità</span></button>
                <button class="btn btn-primary col-4 m-3" id="chooseOptimal"><span class="h5 px-2">Scegli regola</span></button>
                </div>
                
                </div>
        </div>
    </div>
</body>

</html>
